/*-----------------------------------------------------------accueil.php-----------------------------------------------------------*/
.accslider-container {
    position: relative;
    overflow: hidden;
    height: auto;
    max-height: 80%;
    display: flex; /* Ajout pour centrer verticalement et horizontalement */
    align-items: center; /* Ajout pour centrer verticalement */
    justify-content: center; /* Ajout pour centrer horizontalement */
}


        /* SLIDER */
        .accslider-container .accslider {
            height: auto;
            white-space: nowrap;
            font-size: 0;
            transition: 2s;
            width: 100%; /* Ajustez la largeur comme nécessaire */
            display: flex;
            /* Pas besoin d'animation CSS ici */
        }

        /* SLIDES */
        .accslider-container .accslider > * {
            font-size: 1rem;
            display: inline-block;
            white-space: normal;
            vertical-align: top;
            background: none 50% no-repeat;
            background-size: cover;
            flex: 0 0 100%; /* Chaque slide occupe 100% de la largeur du slider */
            transition: transform 2s;
        }

        /* Ancien CSS pour ajuster la taille des images */
        .acccustom-img {
            width: 100%;
            height: auto;
        }