body {margin:0;font-family:Arial}

.topnav {
overflow: hidden;
background-color: rgb(32, 47, 74);
}

.topnav a {
float: left;
display: block;
color: #f9f9f9;
text-align: center;
padding: 12px 16px;
text-decoration: none;
font-size: 20px !important;
}

.topnav .icon {
display: none;
}

.dropdown {
float: left;
overflow: hidden;
}

.dropdown .dropbtn {
border: none;
font-size: 20px !important;
outline: none;
color: white;
padding: 12px 16px;
background-color: inherit;
margin: 0;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
background-color:  rgb(169,169,169);
color: black;
}

.dropdown-content a:hover {
background-color: rgb(169,169,169);
color: black;
}

.dropdown:hover .dropdown-content {
display: block;
}

@media screen and (max-width: 1200px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

.myButton {
    font-size: 20px !important;

    background-color: rgb(32, 47, 74); /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Supprime la bordure */
}

.myButton:hover {
    background-color: rgb(169,169,169); /* Couleur de fond lors de la survol */
    color: white; /* Couleur du texte lors de la survol */
    border: none; /* Supprime la bordure lors de la survol */
    outline: none; /* Supprime l'effet de survol par défaut */
}

.buttonContainer:hover {
    background-color: inherit !important; /* Couleur de fond lors de la survol */
    color: inherit !important; /* Couleur du texte lors de la survol */
    border: inherit !important; /* Bordure lors de la survol */
    text-decoration: none !important; /* Supprime le soulignement lors de la survol */
}

#logo {
    width: 10vw;
}
    
@media screen and (max-width: 1200px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    #logo {
        width: 20vw;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
        
}