/*-----------------------------------------------------------partenaire.php-----------------------------------------------------------*/
.parcontent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.parcenter-button {
    margin-top: 20px;
}
.parcontainerResponsive {
    display: grid;
    gap: 10px;
    justify-items: center;
}

.paritem {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.paritem img {
    max-width: 100%;
    height: auto;
}

/* Utilisation des Media Queries pour ajuster le nombre d'images par ligne */
@media screen and (max-width: 1100px) {
    .parcontainerResponsive {
        grid-template-columns: repeat(1,1fr);
    }

    .parflip-card {
        width: 50vw;
        height: 50vw;
        perspective: 1000px;
    }
}


@media screen and (min-width: 1100px) {
    .parcontainerResponsive {
        grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    }

    .parflip-card {
    /*background-color: transparent;*/
    width: 30vw;
    height: 30vw;
    perspective: 1000px;
    }
}
.parflip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.6s;
transform-style: preserve-3d;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.parflip-card-front img {
width: 100%;
height: 100%;
object-fit: cover; /* Ajuste l'image pour remplir l'espace */
}

.parflip-card:hover .parflip-card-inner {
transform: rotateY(180deg);
}

.parflip-card-front, .parflip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.parflip-card-front {
background-color: #bbb;
color: black;
}

.parflip-card-back {
background-color: rgb(32, 47, 74);
color: white;
transform: rotateY(180deg);
overflow: hidden; /* Ajoutez cette ligne pour contrôler le débordement du texte */
}

@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
--glow-color: white;
}
         
         
.parglowing-btn {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 1em;

    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
}

.parglowing-txt {
float: left;
margin-right: -0.8em;
-webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
-moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
animation: text-flicker 3s linear infinite;
}

.parfaulty-letter {
opacity: 0.5;
animation: faulty-flicker 2s linear infinite;
}

.parglowing-btn::before {
content: "";
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
opacity: 0.7;
filter: blur(1em);
transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
background: var(--glow-color);
pointer-events: none;
}

.parglowing-btn::after {
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
opacity: 0;
z-index: -1;
background-color: var(--glow-color);
box-shadow: 0 0 2em 0.2em var(--glow-color);
transition: opacity 100ms linear;
}

.parglowing-btn:hover {
color: rgb(32, 47, 74);
text-shadow: none;
animation: none;
}

.parglowing-btn:hover .parglowing-txt {
animation: none;
}

.parglowing-btn:hover .parfaulty-letter {
animation: none;
text-shadow: none;
opacity: 1;
}

.parglowing-btn:hover:before {
filter: blur(1.5em);
opacity: 1;
}

.parglowing-btn:hover:after {
opacity: 1;
}

@keyframes faulty-flicker {
0% {
    opacity: 0.1;
}
2% {
    opacity: 0.1;
}
4% {
    opacity: 0.5;
}
19% {
    opacity: 0.5;
}
21% {
    opacity: 0.1;
}
23% {
    opacity: 1;
}
80% {
    opacity: 0.5;
}
83% {
    opacity: 0.4;
}

87% {
    opacity: 1;
}
}

@keyframes text-flicker {
0% {
    opacity: 0.1;
}

2% {
    opacity: 1;
}

8% {
    opacity: 0.1;
}

9% {
    opacity: 1;
}

12% {
    opacity: 0.1;
}
20% {
    opacity: 1;
}
25% {
    opacity: 0.3;
}
30% {
    opacity: 1;
}

70% {
    opacity: 0.7;
}
72% {
    opacity: 0.2;
}

77% {
    opacity: 0.9;
}
100% {
    opacity: 0.9;
}
}

@keyframes border-flicker {
0% {
    opacity: 0.1;
}
2% {
    opacity: 1;
}
4% {
    opacity: 0.1;
}

8% {
    opacity: 1;
}
70% {
    opacity: 0.7;
}
100% {
    opacity: 1;
}
}

@media only screen and (max-width: 1000px) {
.parglowing-btn{
    font-size: 1em;
}
}

