/*-----------------------------------------------------------record.php-----------------------------------------------------------*/
.rectable {
    margin: 1rem auto;
    text-align: center;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border: 1px solid;
  }

   .rectable th,  .rectable td {
    padding: 8px 0;
  }

  .rectable thead {
    background-color: rgb(32, 47, 74);
    color: white;
  }

  .rectable tbody tr:nth-child(even) {
    background-color: white;
    color: rgb(32, 47, 74);
  }

  @media only screen and (max-width: 800px) {
    .rectable table,
    .rectable thead,
    .rectable tbody,
    .rectable th,
    .rectable td,
    .rectable tr {
      display: block;
    }

    .rectable thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    .rectable td {
      position: relative;
      padding-left: 50%;
      white-space: normal;
      text-align: left;
    }

    .rectable td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      font-weight: bold;
      white-space: nowrap;
      text-align: left;
      content: attr(data-title);
    }
  }

  .rectab {
    overflow: hidden;
  }

  .rectab button {
    background-color: #ccc;
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
  }

  .rectab button:hover {
    background-color: #ddd;
  }

  .rectab button.active {
    background-color: #fff;
  }

  .rectabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
  }

  /* Cacher les bordures pour les cellules vides */
  .rectable table td:empty {
    border: none;
  }
  .rectab button.active.laserrun {
  background-color: gray !important; /* Couleur de fond grise lorsque l'onglet est actif */
  color: white !important; /* Texte blanc lorsque l'onglet est actif */
  cursor: default !important; /* Désactive le curseur lorsque l'onglet est actif */
}
.rectab button.active.triathlé {
  background-color: gray !important; /* Couleur de fond grise lorsque l'onglet est actif */
  color: white !important; /* Texte blanc lorsque l'onglet est actif */
  cursor: default !important; /* Désactive le curseur lorsque l'onglet est actif */
}
.rectab button.active.tetrathlon {
  background-color: gray !important; /* Couleur de fond grise lorsque l'onglet est actif */
  color: white !important; /* Texte blanc lorsque l'onglet est actif */
  cursor: default !important; /* Désactive le curseur lorsque l'onglet est actif */
}
.rectab button.active.pentathlon {
  background-color: gray !important; /* Couleur de fond grise lorsque l'onglet est actif */
  color: white !important; /* Texte blanc lorsque l'onglet est actif */
  cursor: default !important; /* Désactive le curseur lorsque l'onglet est actif */
}